/* google font link  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap');

/*---
     common style 
---*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.bg-color{
    background-color: #264653;
}
/*--- 
    header style 
 ---*/
.header-f-size{
    font-size: 48px;
    font-weight: 600;
}
.pragh-f-size{
    font-size: 14px;
}
.btn-bg{
    background-color: #E76F51;
}
.btn-style{
    font-weight: 500;
    padding:10px 46px;
}
.header-bike-margin{
    margin-bottom: 7%;
}
/* ---
    main section style
--- */

/* feature bike section  */
.text-color{
    color:#E76F51;
}
.feture-m-top{
    margin-top: 64px;
}
.bike-margin{
    margin-right: 138px;
    margin-left: 138px;
}
.margin-y{
    margin-top: 96px;
    margin-bottom: 100px;
}
.grayscale{
    filter: grayscale(100%);
}
/* user style  */
.user-name-stle{
    font-size: 14px;
    font-weight: 600;
    color:#23A6F0;
}
.banker{
    font-size: 14px;
    font-weight: 600;
}
/* faq style  */
.large-margin{
    margin-top: 10%;
}
.half-width{
    width:50%;
}
.img-width{
    width:80%;
}